In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("decision.csv")

In [3]:
df.head()

   RID     Age  income student credit_range  buy  Unnamed: 6
0    1   youth    high      no         fair   no         NaN
1    2   youth    high      no    excellent   no         NaN
2    3  middle    high      no         fair  yes         NaN
3    4  senior  medium      no         fair  yes         NaN
4    5  senior     low     yes         fair  yes         NaN

In [4]:
df.drop(['Unnamed: 6'], axis=1 , inplace = True)
df.drop(['RID'], axis=1 , inplace = True)

In [5]:
df

       Age  income student credit_range  buy
0    youth    high      no         fair   no
1    youth    high      no    excellent   no
2   middle    high      no         fair  yes
3   senior  medium      no         fair  yes
4   senior     low     yes         fair  yes
5   senior     low     yes    excellent   no
6   middle     low     yes    excellent  yes
7    youth  medium      no         fair   no
8    youth     low     yes         fair  yes
9   senior  medium     yes         fair  yes
10   youth  medium     yes    excellent  yes
11  middle  medium      no    excellent  yes
12  middle    high     yes         fair  yes
13  senior  medium      no    excellent   no

In [6]:
df['Age'].replace({'youth': 0, 'middle': 1, 'senior': 2}, inplace=True)
df['income'].replace({'high': 0, 'medium': 1, 'low': 2}, inplace=True)
df['student'].replace({'no': 0, 'yes': 1}, inplace=True)
df['credit_range'].replace({'fair': 0, 'excellent': 1}, inplace=True)
df['buy'].replace({'no': 0, 'yes': 1}, inplace=True)

In [7]:
df.head()

   Age  income  student  credit_range  buy
0    0       0        0             0    0
1    0       0        0             1    0
2    1       0        0             0    1
3    2       1        0             0    1
4    2       2        1             0    1

# Data Preprocessing

In [8]:
x = df.drop('buy',axis=1) 
y = df['buy']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

# Train the model

In [9]:
model = GaussianNB()
model.fit(x_train , y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

# Prediction

In [10]:
y_pred = model.predict(x_test)

In [11]:
y_pred

array([1, 0, 1], dtype=int64)

In [12]:
accuracy = accuracy_score(y_test , y_pred)

In [13]:
accuracy                  #we have total of 13 instances so our accuracy came low

0.3333333333333333

In [14]:
model_score = model.score(x_test , y_test)
print(model_score)

0.3333333333333333

# Predicting random value

In [15]:
pred = model.predict([[1,1,1,1]])

In [16]:
pred

array([1], dtype=int64)

In [17]:
#we got 1 which means buy = yes