In [1]:
import pandas as pd 
import numpy as np
from scipy.stats import pearsonr

In [2]:
d = {"male" : [250  ,50 , 300] , "female" : [200 ,1000,1200] }

In [3]:
df = pd.DataFrame(d)

In [4]:
df['total'] = (df['male'] + df['female'])

In [5]:
df.index = ['fiction' , 'nonfiction' , 'Total' ]

In [6]:
df

            male  female  total
fiction      250     200    450
nonfiction    50    1000   1050
Total        300    1200   1500

In [7]:
e11 = (df['male'][2]/df['total'][2])*df['total'][0]
e12 = (df['male'][2]/df['total'][2])*df['total'][1]
e21 = (df['female'][2]/df['total'][2])*df['total'][0]
e22 = (df['female'][2]/df['total'][2])*df['total'][1]

In [8]:
print(e11)
print(e12)
print(e21)
print(e22)

90.0
210.0
360.0
840.0

In [9]:
df

            male  female  total
fiction      250     200    450
nonfiction    50    1000   1050
Total        300    1200   1500

In [10]:
df['expected_male'] = [e11 , e12 , 0]

In [11]:
df['expected_female'] = [e21 , e22 , 0]

In [12]:
df

            male  female  total  expected_male  expected_female
fiction      250     200    450           90.0            360.0
nonfiction    50    1000   1050          210.0            840.0
Total        300    1200   1500            0.0              0.0

In [13]:
chi_square = ( ((df['male'][0] - e11)**2)/e11 )+(((df['male'][1] - e12)**2)/e12)+(((df['female'][0] - e21)**2)/e21 )+(((df['female'][1] - e22)**2)/e22)

In [14]:
chi_square

507.93650793650795

In [15]:
list1 = df['male']
list2 = df['female']
corr, _= pearsonr(list1,list2)

In [16]:
print('Pearsons correlation : %.3f' %corr)

Pearsons correlation : -0.143

In [17]:
cov_matrix = np.stack((list1 , list2) , axis = 0)

In [18]:
cov_matrix

array([[ 250,   50,  300],
       [ 200, 1000, 1200]], dtype=int64)

In [19]:
print(np.cov(cov_matrix))

[[ 17500. -10000.]
 [-10000. 280000.]]