In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [2]:
header_list = ["col1", "col2", "col3", "col4", "col5"]
df = pd.read_csv("iris.csv", names=header_list)

In [3]:
df

     col1  col2  col3  col4            col5
0     5.1   3.5   1.4   0.2     Iris-setosa
1     4.9   3.0   1.4   0.2     Iris-setosa
2     4.7   3.2   1.3   0.2     Iris-setosa
3     4.6   3.1   1.5   0.2     Iris-setosa
4     5.0   3.6   1.4   0.2     Iris-setosa
..    ...   ...   ...   ...             ...
145   6.7   3.0   5.2   2.3  Iris-virginica
146   6.3   2.5   5.0   1.9  Iris-virginica
147   6.5   3.0   5.2   2.0  Iris-virginica
148   6.2   3.4   5.4   2.3  Iris-virginica
149   5.9   3.0   5.1   1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
df = df.sample(frac=1)

In [5]:
df

     col1  col2  col3  col4             col5
86    6.7   3.1   4.7   1.5  Iris-versicolor
131   7.9   3.8   6.4   2.0   Iris-virginica
85    6.0   3.4   4.5   1.6  Iris-versicolor
70    5.9   3.2   4.8   1.8  Iris-versicolor
125   7.2   3.2   6.0   1.8   Iris-virginica
..    ...   ...   ...   ...              ...
44    5.1   3.8   1.9   0.4      Iris-setosa
26    5.0   3.4   1.6   0.4      Iris-setosa
145   6.7   3.0   5.2   2.3   Iris-virginica
50    7.0   3.2   4.7   1.4  Iris-versicolor
137   6.4   3.1   5.5   1.8   Iris-virginica

[150 rows x 5 columns]

In [6]:
df['col5'].replace({'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}, inplace=True)

In [7]:
df

     col1  col2  col3  col4  col5
86    6.7   3.1   4.7   1.5     1
131   7.9   3.8   6.4   2.0     2
85    6.0   3.4   4.5   1.6     1
70    5.9   3.2   4.8   1.8     1
125   7.2   3.2   6.0   1.8     2
..    ...   ...   ...   ...   ...
44    5.1   3.8   1.9   0.4     0
26    5.0   3.4   1.6   0.4     0
145   6.7   3.0   5.2   2.3     2
50    7.0   3.2   4.7   1.4     1
137   6.4   3.1   5.5   1.8     2

[150 rows x 5 columns]

In [8]:
x = df.drop('col5',axis=1) 
y = df['col5']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [10]:
clf = KNeighborsClassifier()

clf.fit(x_train , y_train)

predict = clf.predict(x_test)

print(predict)

[0 0 1 0 2 0 0 0 1 1 2 0 1 1 1 1 2 1 0 1 1 2 0 1 0 0 1 2 0 0]

In [11]:
accuracy = accuracy_score(y_test , predict)
accuracy

1.0

In [12]:
metrics.confusion_matrix(y_test, predict)

array([[13,  0,  0],
       [ 0, 12,  0],
       [ 0,  0,  5]], dtype=int64)