In [1]:
from sklearn import svm
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("Rainfalldataset.csv")

In [3]:
data.head()

,temp(c),pressure(mb),humidity(),cloud cover(),wind speed(mph),wind dir.,precip.(mm)
0,28,1005,85.0,22,7,6,0.1
1,27,1005,83.0,15,6,7,0.0
2,28,1006,80.0,15,5,7,0.0
3,33,1007,70.0,16,6,7,0.0
4,35,1006,61.0,32,7,6,0.0

In [4]:
data = data.fillna(data.mean())

In [5]:
data.describe()

,temp(c),pressure(mb),humidity(),cloud cover(),wind speed(mph),wind dir.,precip.(mm)
count,3956.000000,3956.000000,3956.000000,3956.000000,3956.000000,3956.000000,3956.000000
mean,30.029575,1004.694135,56.108217,26.039939,6.973711,8.875379,0.664333
std,5.788509,6.757192,18.661559,27.596761,4.005788,4.010781,1.933930
min,9.000000,993.000000,4.000000,0.000000,0.000000,1.000000,0.000000
25%,27.000000,999.000000,44.000000,0.000000,4.000000,5.000000,0.000000
50%,31.000000,1003.000000,57.000000,18.000000,6.000000,8.000000,0.000000
75%,34.000000,1011.000000,71.000000,46.000000,9.000000,13.000000,0.200000
max,45.000000,1022.000000,93.000000,100.000000,32.000000,16.000000,12.530000

In [6]:
data['precip.(mm)'] = data['precip.(mm)'].astype(int) 

data.loc[data['precip.(mm)'] > 2] = 2

In [7]:
data

,temp(c),pressure(mb),humidity(),cloud cover(),wind speed(mph),wind dir.,precip.(mm)
0,28,1005,85.0,22,7,6,0
1,27,1005,83.0,15,6,7,0
2,28,1006,80.0,15,5,7,0
3,33,1007,70.0,16,6,7,0
4,35,1006,61.0,32,7,6,0
...,...,...,...,...,...,...,...
3951,36,1002,56.0,26,5,9,0
3952,38,1001,48.0,51,4,9,2
3953,38,999,50.0,75,3,9,1
3954,38,1000,58.0,62,3,7,0
3955,35,1001,64.0,68,5,7,0

In [8]:
data['precip.(mm)'].value_counts()

0    3345
2     399
1     212
Name: precip.(mm), dtype: int64

In [9]:
X = data.drop('precip.(mm)' , axis = 1)
y = data['precip.(mm)']

In [10]:
X_train, X_test, y_train, y_test = train_test_split( X , y , test_size = 0.30 , random_state = 7)

In [11]:
clf = svm.SVC()

clf.fit(X_train , y_train)

y_predict = clf.predict(X_test)

score = clf.score(X_test , y_test)

print(score*100,"%")

91.575400168492 %

In [12]:
from sklearn import metrics

In [13]:
metrics.confusion_matrix(y_test, y_predict)

array([[1005,    0,    0],
       [  54,    0,    0],
       [  46,    0,   82]], dtype=int64)